#main-left img{
	
	width: 480px; height:720px;
	margin-left: 25%;
	margin-top: 1%;
}
#main-right p{
	
	text-align: right; 
	letter-spacing: 8px;
	font: "新宋体";
	font-size: 50px;
	margin-right: 20%;
	margin-top: -12%;
}
#guide a{
	text-decoration: none;
	color: dimgrey;
	font-size: 15px;	
}
#guide p{
	text-align: center;
}
#guide{
	height: 20px;
	width: 350px;
	margin:0 auto;
	margin-top: 1%;
}
hr{
	margin-top: 10%;
}
